{
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-jsx-remove-data-test-id",
        "babel-plugin-remove-graphql-queries"
      ]
    }
  },
  "presets": [
    "babel-preset-gatsby"
  ]
}
